.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #2b4e23;
}

.container {
  width: 100%;
  max-width: 400px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  overflow: hidden;
  margin: 20px;
  grid-column: span 3 / span 3;
  grid-row: span 5 / span 5;
  grid-column-start: 2;
}

.form-box {
  padding: 30px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header img {
  margin-bottom: 10px;
}

.header h2 {
  color: #1B5E20;
  margin-bottom: 5px;
}

.header p {
  color: #555;
  font-size: 14px;
}

.tab-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab-buttons button {
  flex: 1;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  background: #f1f1f1;
  color: #555;
  font-weight: bold;
  transition: all 0.3s;
}

.tab-buttons button.active {
  background: #1B5E20;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
}

.form.hidden {
  display: none;
}

.form input {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.submit-btn {
  padding: 12px;
  background: #1B5E20;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.submit-btn:hover {
  background: #388E3C;
}

.toggle-text {
  color: black;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

.toggle-text span {
  color: #1B5E20;
  cursor: pointer;
  text-decoration: underline;
}
