.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e7e7; /* black background */
  padding: 1rem 2rem;
  margin: 20px;
  border-radius: 20px;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: black; /* green logo */
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.link {
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  transition: 1s ease-out ;
}

/* Hover effect */
.nav-links a:hover {
  color:black;
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(181, 181, 181);
}
